.work-container{
    padding: 40px;
    margin-top: 10%;
}

.work-header{
    font-size: 2.5rem;
    color: #e2dcdc;
    font-weight: 900;
}

.work-header:before {
    background-color: #EFE436;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.20rem;
    width: 70px;
    margin-bottom: .5rem;
    animation-name: move ;
    animation-duration: 1s;
}

@keyframes move {
    from {
        width:0px;
    }
    to {
        width: 70px
    }
}

.work-left{
    margin-top: 7px;
    
}

.work-right{
    margin-top: -30px;
}

.work-number{
    font-size: 10rem;
    font-weight: 900;
    color: #151516;
    position: relative;
    bottom: 40px;
    margin: 0;
}

.work-content-header{
    font-size: 1.5rem;
    position: absolute;
    bottom: 40%;
    left: 15%;
    color: #EFE436;
    text-transform: uppercase;
}

.work-subtitle{
    font-size: 1rem;
    position: absolute;
    bottom: 15%;
    left: 15%;
    color: #ffffff;
    width: 80%;
    margin-left: 30px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .work-container{
        margin-top: 30%;
        padding : 25px !important;
    }
    .work-header{
        margin-bottom: 25%;
    }
    .work-number{
        margin-bottom: 20px;
        font-size: 7rem;
    }
    .work-content-header{
        bottom: 40px;
        width: 90%;
    }
    .work-subtitle{
        width: 90%;
        bottom: -28%;
        padding-right: 10px;
        text-align: justify;
    }
}